<h1>
    {{title}}
</h1>

<ul>
    <li>
        <a routerLink="/athletes-list">Athelets</a>
    </li>
    <li>
        <a routerLink="/dashboard">Dashboard</a>
    </li>
</ul>


<router-outlet></router-outlet>