<h1>
    {{title}}
</h1>

<ul>
    <li>
        <a routerLink="/athletes-list">Athelets</a>
    </li>
    <li>
        <a routerLink="/dashboard">Dashboard</a>
    </li>
</ul>


<router-outlet></router-outlet>



<h1>
    YUSUF {{title}}
</h1>

<button (click)="plus1()">add 2 </button>