<h1>
    {{title}}
</h1>

<ul>
    <li>
        <a routerLink="/athletes-list">Atheletes</a>
    </li>
    <li>
        <a routerLink="/dashboard">Dashboard</a>
    </li>
    <li>
        <a routerLink="/inbox">Inbox</a>
    </li>
 
</ul>


<router-outlet></router-outlet>