

    <form [formGroup]="form">
          <div>
              <input type="text" [formControl]="form.controls['sender']">
          </div>
        <div> 
            <input type="text" [formControl]="form.controls['receiver']">
        </div>
        <div> 
            <input type="text" [formControl]="form.controls['subject']">
        </div>
    </form>